<%
  var data = pageData.data;
%>

<% include ../_utils/header %>

<% components.hidden(req.params.id, {key: 'params.id'}) %>

<style type="text/css">
  textarea.webhook-setting {
    word-break: break-all;
  }
</style>

<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body wat-panel-heading">
        <div class="col-xs-3 text-left">
          <% components.goBackButton() %>
        </div>
        <div class="col-xs-6 text-center">
          <span class="wat-modifying-title"><code><%= data.name %></code></span>
        </div>
        <div class="col-xs-3 text-right">
        </div>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-xs-3"><%= __('Name') %></label>
            <div class="col-xs-9">
              <input class="form-control" type="text" value="<%= data.name %>" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3">AK ID</label>
            <div class="col-xs-9">
              <input class="form-control wat-mono" type="text" value="<%= data.id %>" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3">AK Secret</label>
            <div class="col-xs-9">
              <button type="button" class="btn btn-default btn-block" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= data.secret %>">
                <i class="fa fa-fw fa-eye"></i> <%= __('View') %>
              </button>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3"><%= __('Webhook URL') %></label>
            <div class="col-xs-9">
              <textarea class="form-control wat-mono webhook-setting" rows="3" wat-data-for="submit" wat-data-key="body.data.webhookURL"><%= data.webhookURL %></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3"><%= __('Webhook Events') %></label>
            <div class="col-xs-9">
              <textarea class="form-control wat-mono webhook-setting" rows="3" wat-data-for="submit" wat-data-key="body.data.webhookEvents"><%= data.webhookEvents %></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9 checkbox">
              <label>
                <input type="checkbox" wat-data-for="submit" wat-data-type="boolean" wat-data-key="body.data.allowWebhookEcho" <%= data.allowWebhookEcho ? 'checked' : '' %>> <%= __('Allow Webhook Echo') %>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12 text-right">
              <%
                components.saveButton('accessKeyAPI.modify', {
                  ok: 'goBack',
                  ng: 'showHelpBlock',
                });
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../_utils/footer %>
