<%_ try { _%>
<%_ include ./components _%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Pragma" content="no-cache,no-store,must-revalidate" />
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
    <meta http-equiv="Expires" content="0" />
    <meta name="renderer" content="webkit" />
    <meta name="robots" content="none" />
    <meta name="apple-mobile-web-app-title" content="<%= __('Project Name__projectInfo') -%>" />

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" /> -->
    <!-- <meta name="viewport" content="width=980" /> -->
    <meta name="viewport" content="width=1440" />

    <%- components.css('libs/bootstrap/css/bootstrap.min.css') _%>
    <%- components.css('libs/font-awesome/css/font-awesome.min.css') _%>
    <%- components.css('libs/highlight-js/css/github.css') _%>
    <%- components.css('css/site.css') _%>

    <%
      var subTitle = '';
      if (pageConfigs.isDocPage) {
        subTitle = __(pageData.docPageTitle);
      } else if (res.locals.routeConfig && res.locals.routeConfig.name){
        subTitle = res.locals.routeConfig.name || '';
      }

      if (subTitle) {
        subTitle = '- ' + subTitle;
      }
    %>
    <title><%= __('Project Name__projectInfo') -%> <%= subTitle %></title>

    <% if (pageConfigs.isDocPage) { %>
      <style>
        body {padding-top: 0px; }
        footer {padding-bottom: 100px }
      </style>
    <% } else { %>
      <style>
        body {padding-top: 100px; }
      </style>
    <% } %>
  </head>
  <%_ components.hidden(pageConfigs.isDocPage ? 'false' : 'true', {id: '_disableJSONResponseConverting'}) _%>
  <%_ components.hidden(JSON.stringify(clientConfig), {id: '_clientConfig'}) _%>

  <body style="background-image: url(<%= static('img/bg-greyzz.png') %>)">
    <%_ if (!pageConfigs.hideHeader) { _%>
      <nav class="navbar navbar-inverse <%= pageConfigs.isDocPage ? '' : 'navbar-fixed-top' %>">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <i id="menuRedDot" class="fa fa-fw fa-circle wat-notice-dot hidden"></i>
            </button>
            <a class="navbar-brand" href="<%= urlFor(CONFIG._WEB_INDEX_PAGE || 'indexPage.index') %>"><%= __('Project Name__projectInfo') %></a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <%_ if (CONFIG.MODE !== 'prod') { _%>
              <ul class="nav navbar-nav">
                <li>
                  <a data-toggle="collapse" href="#watPageDataDebug">
                    <span class="badge badge-red"><%= CONFIG.MODE.toUpperCase() %></span>
                  </a>
                </li>
              </ul>
            <%_ } _%>

            <ul class="nav navbar-nav">
              <%_ include ../_navi/naviLeft _%>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <%_ include ../_navi/naviRight _%>
            </ul>
          </div>
        </div>
      </nav>
    <%_ } _%>
    <%_ if (CONFIG.MODE !== 'prod' && !pageConfigs.isDocPage) { _%>
      <div id="watPageDataDebug" class="container collapse" style="margin-bottom: 50px;">
        <div class="col-xs-12">
          <%= __('Request') %><code>req</code>
          <%_
            var request = {
              params           : req.params,
              query            : req.query,
              clientId         : clientId,
              requestType      : requestType,
              clientLocale     : clientLocale,
              shortClientLocale: shortClientLocale,
              traceId          : traceId,
              useragent: {
                browser : req.useragent.browser,
                version : req.useragent.version,
                os      : req.useragent.os,
                platform: req.useragent.platform,
              },
            };
          _%>
          <pre><code class="json"><%= JSON.stringify(request, null, 2) %></code></pre>
        </div>
        <div class="col-xs-12">
          <%= __('Client Config') %><code>res.locals.clientConfig</code>
          <pre><code class="json"><%= JSON.stringify(res.locals.clientConfig, null, 2) %></code></pre>
        </div>
        <div class="col-xs-12">
          <%= __('Current User') %><code>currentUser</code>
          <pre><code class="json"><%= JSON.stringify(currentUser, null, 2) %></code></pre>
        </div>
        <div class="col-xs-12">
          <%= __('Page Data') %><code>pageData</code>
          <pre><code class="json"><%= JSON.stringify(pageData, toolkit.noFunctionReplacer, '  ') %></code></pre>
        </div>
      </div>
    <%_ } _%>

<%_ } catch(ex) { console.log(ex.stack) } _%>

