<% include _utils/header %>

<style type="text/css">
  .jumbotron {
    background-image: url(/statics/img/index-jumbotron.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .black-shadow {
    color: white;
    text-shadow: 3px  0px 5px black,
                 0px  3px 5px black,
                -3px  0px 5px grey,
                 0px -3px 5px grey;
  }
  .white-shadow {
    text-shadow: 3px  0px 5px white,
                 0px  3px 5px white,
                -3px  0px 5px white,
                 0px -3px 5px white;
  }
</style>

<div class="jumbotron">
  <div class="container">
    <h1>
      <span class="black-shadow"><%= __('Welcome to') %></span>
      <br class="visible-xs" />
      <small class="white-shadow"><%= __('Project Name__projectInfo') %></small>
    </h1>
    <br />

    <% if (currentUser.isSignedIn) { %>
      <p>
        <a class="btn btn-primary btn-lg" href="<%= urlFor(CONFIG._WEB_DASHBOARD_PAGE || 'indexPage.dashboard') %>">
          <i class="fa fa-dashboard"></i>
          <%= __('Go to Dashboard Now') %>
        </a>
      </p>
    <% } else if (CONFIG.webServer.enableAuthModule) { %>
      <p>
        <a class="btn btn-primary btn-lg" href="<%= urlFor('authPage.signIn') %>">
          <i class="fa fa-sign-in"></i>
          <%= __('Sign In') %>
        </a>
      </p>
    <% } %>
  </div>
</div>

<div class="container">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="line-height: 30px;">
    <div class="page-header">
      <h1><%= __('About') %></h1>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
          <%= __('Welcome to DataFlux.f(x)') %><br />
        </p>
      </div>
    </div>
    <br />

    <div class="page-header">
      <h1><%= __('Documents') %></h1>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><%= __('Please read the README.md to get more information.') %></p>
      </div>
    </div>
  </div>
</div>

<% include _utils/footer %>
