<%
  var data = pageData.data || [];
  var levelColor = {
    DEBUG  : 'default',
    INFO   : 'info',
    WARNING: 'warning',
    ERROR  : 'danger',
  };
%>

<% include ../_utils/header %>

<div class="container-fluid col-sm-10 col-sm-offset-1">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body wat-panel-heading">
        <div class="col-xs-3 text-left">
          <span class="wat-panel-title"><i class="fa fa-fw fa-search"></i> <%= __('Worker Logs') %></span>
        </div>
        <div class="col-xs-9 text-right">
        </div>
      </div>
      <div class="panel-body wat-panel-heading form-inline">
        <%
          components.filterSelect({
            'ERROR'  : '>= ERROR',
            'WARNING': '>= WARNING',
            'INFO'   : '>= INFO',
            'DEBUG'  : '>= DEBUG',
            'ALL'    : 'ALL',
          }, {
            showBlank   : true,
            blankMessage: __('Log Level'),
            filterName  : 'level',
          })
        %>
        <%
          components.filterText({
            placeholder: __('Task ID'),
            filterName : 'task_id',
          })
        %>
        <%
          components.filterText({
            placeholder: __('Task'),
            filterName : 'task',
          })
        %>
        <%
          components.filterText({
            placeholder: __('Queue'),
            filterName : 'queue',
          })
        %>
        <%
          components.filterText({
            placeholder: __('Origin'),
            filterName : 'origin',
          })
        %>
        <%
          components.filterText({
            placeholder: __('User ID'),
            filterName : 'user_id',
          })
        %>
        <%
          components.filterText({
            placeholder: __('Username'),
            filterName : 'username',
          })
        %>
        <%
          components.filterText({
            placeholder: __('Client IP'),
            filterName : 'client_ip',
          })
        %>
        <% components.filterButton() %>
      </div>
      <div class="table-responsive">
        <table class="table table-hover wat-td-middle">
          <thead>
            <tr>
              <th><%= __('Task Short ID') %></th>
              <th><%= __('Log Level') %></th>
              <th></th>
              <th><%= __('Task') %></th>
              <th><%= __('Time') %></th>
              <th><%= __('Log') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="wat-mono">
            <% data.forEach(function(d, index) { %>
            <tr class="<%= levelColor[d.level] %> text-<%= levelColor[d.level] %>">
              <td class="wat-nowrap"><%= toolkit.getFirstPart(d.task_id) %></td>
              <td>
                <label class="label label-<%= levelColor[d.level] %>"><%= d.level %></label>
              </td>
              <td>
                <a class="btn btn-<%= levelColor[d.level] %> btn-xs" role="button"
                  data-toggle="popover"
                  data-placement="right"
                  data-html="true"
                  data-content="
                    <%= __('Trace ID') %>: <%= d.trace_id %><br />
                    <%= __('Task') %>: <%= d.task %><br />
                    <%= __('Queue') %>: <%= d.queue %><br />
                    <%= __('Origin') %>: <%= d.origin %><br />
                    <%= __('User ID') %>: <%= d.user_id %><br />
                    <%= __('Username') %>: <%= d.username %><br />
                    <%= __('Client IP') %>: <%= d.client_ip %><br />
                    <%= __('Client ID') %>: <%= d.client_id %><br />
                    <%= __('Up Time') %>: <%= d.up_time %>
                "><i class="fa fa-fw fa-search"></i></a>
              </td>
              <td class="wat-nowrap"><%= d.task %></td>
              <td class="wat-nowrap"><%= d.timestamp_humanized %></td>
              <td class="wat-mono wat-force-wrap"><%= d.message %></td>
              <td>+<%= d.diff_time %>ms</td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% include ../_utils/footer %>

<script>
  $(function() {
    $(document).on('mousedown', '[data-toggle="popover"]', function() {
      var self = this;
      $('[data-toggle="popover"]').each(function() {
        if (this !== self) $(this).popover('hide');
      })
    });

    $('[data-toggle="popover"]').popover({
      template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
    });
  });
</script>
