<%
  var data = pageData.data || [];
%>

<% include ../_utils/header %>

<% components.confirmModal() %>
<% components.infoModal() %>

<style type="text/css">
  .slow-api-url {
    display    : inline-flex;
    font-family: monospace;
    background : none;
    border     : none;
    padding    : 0;
  }
  .slow-api-url code {
    background : none;
  }
</style>

<div class="container-fluid col-xs-10 col-xs-offset-1">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body wat-panel-heading">
        <div class="col-xs-3 text-left">
          <span class="wat-panel-title"><i class="fa fa-fw fa-hourglass-half"></i> <%= __('Slow API Count') %></span>
        </div>
        <div class="col-xs-9 text-right">
          <%
            currentUser.can('general_w') &&
            components.submitButton('slowAPICountAPI.clear', {
              style: 'danger',
              icon : 'trash',
              title: __('Clear ALL'),
            });
          %>
          &#12288;
          <% components.exportButtonGroup('slowAPICountAPI.list', {fileName: 'slowAPICount'}) %>
        </div>
      </div>
      <div class="panel-body wat-panel-heading form-inline">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-fw fa-filter"></i>
          </span>
          <input id="originalURLFilter" type="text" class="form-control" style="width: 500px" placeholder="<%= __('Filter Original URL') %>" />
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover wat-td-middle">
          <thead>
            <% components.tableFilterHintRow() %>
            <tr>
              <th><%= __('Original URL') %></th>
              <th></th>
              <th class="text-right" style="width: 150px;">&gt; 300 ms</th>
              <th class="text-right" style="width: 150px;">&gt; 500 / 1000 ms</th>
              <th class="text-right" style="width: 200px;">&gt; 2000 / 5000 / 10000 ms</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach(function(d, index) { %>
            <tr original-url="<%= decodeURIComponent(d.originalURL) %>">
              <td class="wat-force-wrap wat-mono">
                <pre class="slow-api-url"><code class="apiurl"><%_
                  decodeURIComponent(d.originalURL).split(/[?&]/).forEach(function(param, index) {
                    var symbol = '';
                    if (index === 1) {
                      symbol = '?';
                    } else if (index > 1) {
                      symbol = '&';
                    }
                _%><%= symbol + param + '\n' %><%_ }) _%></code></pre>
              </td>
              <td><% components.copyButton(d.originalURL) %></td>
              <td class="text-right">
                <span class="text-primary wat-big-text"><%= d[toolkit.strf('over{0}Count', 300)] || 0 %></span>
                次
              </td>
              <td class="text-right">
                <span class="text-watch wat-big-text"><%= d[toolkit.strf('over{0}Count', 500)] || 0 %></span>
                /
                <span class="text-watch wat-big-text"><%= d[toolkit.strf('over{0}Count', 1000)] || 0 %></span>
                次
              </td>
              <td class="text-right">
                <span class="text-danger wat-big-text"><%= d[toolkit.strf('over{0}Count', 2000)] || 0 %></span>
                /
                <span class="text-danger wat-big-text"><%= d[toolkit.strf('over{0}Count', 5000)] || 0 %></span>
                /
                <span class="text-danger wat-big-text"><%= d[toolkit.strf('over{0}Count', 10000)] || 0 %></span>
                次
              </td>
              <td class="text-right wat-nowrap">
                <!-- Delete -->
                <%
                  currentUser.can('general_w') &&
                  components.tableDeleteButton('slowAPICountAPI.delete', {
                    params     : {id: d.id},
                    confirmData: d.originalURL,
                  });
                %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% components.paging() %>
</div>

<% include ../_utils/footer %>

<script type="text/javascript">
$(function() {
  $('.apiurl').each(function() {
    hljs.highlightBlock($(this)[0]);
  });

  $(document).on('keyup', '#originalURLFilter', toolkit.debounce(function() {
    var filterText = $(this).val().trim();

    var $rows = $('[original-url]');
    if (filterText) {
      $rows.each(function() {
        var $row = $(this);
        var originalURL = $row.attr('original-url') || '';
        if (originalURL.indexOf(filterText) >= 0) {
          $row.show();
        } else {
          $row.hide();
        }
      });
    } else {
      $rows.show();
    }
  }, 300));
})
</script>
