<%
  var data = pageData.data;
%>

<% include ../_utils/header %>

<% components.hidden(req.params.id, {key: 'params.id'}) %>

<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body wat-panel-heading">
        <div class="col-xs-3 text-left">
          <% components.goBackButton() %>
        </div>
        <div class="col-xs-6 text-center">
          <span class="wat-modifying-title"><code><%= data.username %></code></span>
        </div>
        <div class="col-xs-3 text-right">
        </div>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-xs-3"><%= __('Username') %></label>
            <div class="col-xs-9">
              <input class="form-control" type="text" wat-data-for="submit" wat-data-key="body.data.username" value="<%= data.username %>" readonly>
              <% components.errorBlock(__('This username is already existed.'), 'EClientDuplicated.username'); %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3"><%= __('Password') %></label>
            <div class="col-xs-9">
              <input class="form-control" type="text" wat-data-for="submit" wat-data-key="body.data.password" wat-data-blank-convert="skip"
                <% if (data.id === currentUser.id) { %>
                  readonly
                  placeholder="<%= __('Use Change Password page to change your password') %>"
                <% } else { %>
                  placeholder="<%= __("Keep blank if don't want to change password") %>"
                <% } %>
              >
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3"><%= __('Name__user') %></label>
            <div class="col-xs-9">
              <input class="form-control" type="text" wat-data-for="submit" wat-data-key="body.data.name" value="<%= data.name %>">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3"><%= __('Mobile') %></label>
            <div class="col-xs-9">
              <input class="form-control" type="text" wat-data-for="submit" wat-data-key="body.data.mobile" value="<%= data.mobile %>">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3"><%= __('Role') %></label>
            <div class="col-xs-9">
              <%
                for (var r in PRIVILEGE.roles) if (PRIVILEGE.roles.hasOwnProperty(r)) {
                  var role = PRIVILEGE.roles[r];
                  if (role.isSystemRole) continue;
                  %>
                    <div class="checkbox">
                      <label data-toggle="tooltip" data-placement="right" title="<%= __(role.desc) %>">
                        <input type="checkbox" wat-data-for="submit" wat-data-key="body.data.roles[]" value="<%= r %>"
                          <%= data.roles.indexOf(r) > -1 ? 'checked' : ''%>
                          <%= currentUser.can('user_roleSetting') ? '' : 'disabled' %>
                        >
                        <span><%= __(role.name) %></span>
                      </label>
                    </div>
                  <%
                }
              %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-3"><%= __('Custom Privileges') %></label>
            <div class="col-xs-9">
              <input class="form-control" type="text" wat-data-for="submit" wat-data-key="body.data.customPrivileges" value="<%= data.customPrivileges %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9 checkbox">
              <label>
                <input type="checkbox" wat-data-for="submit" wat-data-type="boolean" wat-data-key="body.data.isDisabled" <%= data.isDisabled ? 'checked' : '' %>> <%= __('Disabled') %>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-12 text-right">
              <%
                components.saveButton('userAPI.modify', {
                  ok: 'goBack',
                  ng: 'showHelpBlock',
                });
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../_utils/footer %>
