<%
  pageConfigs.isDocPage = true;
%>

<% include ../_utils/header %>

<div class="container-fluid col-xs-10 col-xs-offset-1">
  <div>
    <h1>
      <i class="fa fa-book"></i> <%= __('ENUM/CONST Reference') %>
      <span class="pull-right" style="font-size: 18px; line-height: 60px;">
        <a href="/doc"><i class="fa fa-book"></i> <%= __('API Documents') %></a> /
        <a href="/doc/change-log"><i class="fa fa-history"></i> <%= __('Change Log') %></a>
      </span>
    </h1>

    <% for (var module in CONST.displayText) if (CONST.displayText.hasOwnProperty(module) && module !== 'MODULE_FIELD') { %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="wat-doc-title">
            <% var moduleField = module.split('_') %>
            <span><%= moduleField[0] %></span>
            <% if (moduleField[1]) { %>
              - <code><%= moduleField[1] %></code>
            <% } %>
          </span>
        </div>
        <div class="panel-body">
          <table class="table table-responsive" style="font-size: 18px;">
            <thead>
              <tr>
                <th><%= __('ENUM/CONST') %></th>
                <th><%= __('Description') %></th>
              </tr>
            </thead>
            <tbody>
              <% var moduleEnumMap = CONST.displayText[module]; %>
              <% for (var key in moduleEnumMap) if (moduleEnumMap.hasOwnProperty(key)) { %>
                <tr>
                  <td><code><%= key %></code><%= components.copyButton(key) %></td>
                  <td><%= __(moduleEnumMap[key]) %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    <% } %>
  </div>
</div>

<% include ../_utils/footer %>
