<%
  var e = pageData.error;
%>

<% include ../_utils/header %>

<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <% components.errorInfo(e) %>

    <h4>
      <label class="label label-default text-uppercase"><%= __("Detail") %></label>
    </h4>
    <table class="table">
      <thead>
        <tr>
          <th><%= __('Item') %></th>
          <th><%= __('Note') %></th>
        </tr>
      </thead>
      <tbody>
        <%
          for (var k in e.detail) if (e.detail.hasOwnProperty(k)) {
            var v = e.detail[k];
        %>
        <tr>
          <td><%= k %></td>
          <td>
            <pre><%= JSON.stringify(v, null, 2) %></pre>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<% include ../_utils/footer %>
