<%
%>

<% include ../_utils/header %>

<div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
    <div class="panel panel-default">
      <div class="panel-body wat-panel-heading">
        <div class="col-xs-2 text-left">
        </div>
        <div class="col-xs-8 text-center">
          <h4><%= __('Change Password') %></h4>
        </div>
        <div class="col-xs-2 text-right">
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label"><%= __('Old Password') %></label>
          <input type="password" class="form-control" wat-data-for="submit" wat-data-key="body.changePassword.oldPassword" placeholder="<%= __('Enter your old password') %>">
          <% components.errorBlock(__('Old password is invalid.'), 'EUserPassword'); %>
        </div>
        <hr />
        <div class="form-group">
          <label class="control-label"><%= __('New Password') %></label>
          <input id="newPassword" type="password" class="form-control" wat-data-for="submit" wat-data-key="body.changePassword.newPassword" placeholder="<%= __('Enter your new password') %>">
        </div>
        <div class="form-group">
          <label class="control-label"><%= __('Confirm New Password') %></label>
          <input id="confirmNewPassword" type="password" class="form-control" wat-data-for="submit" wat-data-key="body.changePassword.newPassword" placeholder="<%= __('Confirm your new password') %>">
          <% components.errorBlock(__('New passwords do not match.'), 'EUserPassword.notMatch'); %>
        </div>

        <div class="form-group">
          <label class="control-label"><%= __('CAPTCHA') %></label>
          <% components.captcha('changePassword') %>
        </div>
        <div class="form-group">
          <%
            components.submitButton('authAPI.changePassword', {
              title     : __('Change Password'),
              size      : 'block',
              icon      : 'lock',
              ok        : 'goToIndex',
              ng        : 'showHelpBlock',
              useCaptcha: true,
            });
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../_utils/footer %>

<%- components.js('js/auth/changePassword.js') %>
